@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Lobster&family=Oswald:wght@200&family=Press+Start+2P&family=Special+Elite&display=swap');


body {
    background-color: #80CED7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;

}

/*HEADER*/

.headerDiv {
    font-family: Holtwood One SC;
    font-size: xx-large;
    background-color: #C9C5BA;
    padding-top: 10px;
}

.navbar-nav {
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}

a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;

}

/* Carousel nuevo y main */

main {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

}

main img {
    width: 1280px;
    height: 960px;
}


/*FOOTER*/

.footer {
    border-top: 1px black dotted;
    text-align: center;
    background-color: #C9C5BA;
    position: absolute;
    width: 100%;
}

.footer ul {
    padding: 0%;
}

.textoFoot {
    border-bottom: 1px dotted black;
    margin: 10px;
}

.footer ul li a {
    color: #5C7AFF;
    
}

.instagram {

    color: #ee640e;
}
.you {
    color: #FF0000;
}

.facebook {
    color: #3b5998;
}

/* FORMULARIO */

/* .formuladrio.Div {
    display: block;
    text-align: left;
} */

/* form input {
    width: 20%;
    display: block;
    text-align: left;
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    background-color: #FEFFB7;
} */

/* textarea {
    width: 20%;
    padding: 5px;
    margin: 5px;
    background-color: #FEFFB7;
    border: 1px solid black;
} */

input[type=submit] {
    width: auto;
    background-color: #AEFF96;

}

/* REQUISITOS */

.requisitos {
    font-size: medium;
    text-align: left;
    margin: 5%;
    background-color: #FEFFB7;
    border: black dotted 2px;
}

.listaReq {
    margin: 5px;
}

/*UBICACIÓN*/

.mainUbicacion {
    margin-top: 5px;
    text-align: center;
    padding-bottom: 2%;
}

/*Productos-nuevo bootstrapeado*/

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    
}

.productos p {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    background-color: #FEFFB7;
    border-radius: 4px;
}

img {
    border-radius: 4px;
}