@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Lobster&family=Oswald:wght@200&family=Press+Start+2P&family=Special+Elite&display=swap');


body {
    background-color: #a8dadc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

/*HEADER*/

.headerDiv {
    font-family: Holtwood One SC;
    font-size: xx-large;
    background-color: #457B9D;
    padding-top: 10px;

}

.navbar-nav a:hover {
    color: #DE3C4B;
    text-decoration-line: underline;
}

.navbar-nav {
    font-size: larger;
    font-weight: bold;
    padding-left: 10px;
}

a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;

}

/* Carousel nuevo y main */

main {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

}

main img {
    width: 1280px;
    height: 960px;
}


/*FOOTER*/

.footer {
    border-top: 1px black solid;
    text-align: center;
    background-color: #F1FAEE;
    position: absolute;
    width: 100%;
}

.footer ul {
    padding: 0%;
}

.textoFoot {
    border-bottom: 1px solid black;
    background-color: #457B9D;
    width: 100%;
}

.footer ul li a {
    color: #5C7AFF;
    text-transform: lowercase
}

.instagram i {
    font-size: x-large;
    color: #ee640e;
}

.you i {
    font-size: x-large;
    color: #FF0000;
}

.facebook i {
    font-size: x-large;
    color: #3b5998;
}

/* FORMULARIO */

main h2 {
    text-align: left;
}

.form {
    text-align: left;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.form-control {
    background-color: #F1FAEE;
}

.telefonos {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    border: black 1px dotted;
    border-radius: 5px;
    background-color: #F1FAEE;
    max-width: fit-content;
    display: inline-block;


}

/* REQUISITOS */

.requisitos {
    font-size: medium;
    text-align: left;
    margin: 5%;
    background-color: #F1FAEE;
    border: black dotted 2px;
}

.listaReq {
    margin: 5px;
}

/*UBICACIÓN*/

.mainUbicacion {
    margin-top: 5px;
    text-align: center;
    padding-bottom: 2%;
}

/*Productos-nuevo bootstrapeado*/

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;

}

.productos p {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    background-color: #F1FAEE;
    border-radius: 4px;
}

.productos img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.productos img:hover {
    -webkit-filter: brightness(100%);
}

img {
    border-radius: 4px;
}